extends layout	 
block Contenido
	div
		form(action="/alta" method="post")
			label(for="fname") Nombre
			input(type="text" id="nombre" name="nombre")
			br
			label(for="fedad") Edad
			input(type="text" id="edad" name="edad")
			br
			label(for="direccion") Direccion
			input(type="text" id="direccion" name="direccion")
			br
			input(type="submit" value="Submit")